<% include paartials/header %>

<title>To Do List</title>
	<link rel="stylesheet" type="text/css" href="assets/CSS/styles.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"> 
	<script type="text/javascript" src="assets/Js/lib/jQuery.js"></script>
</head>
<body>


	<div id="container">
		<h1>To-do List <i class="fa fa-plus"></i> </h1>
		<input id="input" type="text" placeholder="Add a new To-do">
		<ul>
			<li><span><i class="fa fa-trash"></i></span> Starting prep for Intern</li>
			<li><span><i class="fa fa-trash"></i></span> Going to swimming lessons</li>
			<li><span><i class="fa fa-trash"></i></span> going to gym</li>
			<li><span><i class="fa fa-trash"></i></span> going to lucknow</li>
			<li><span><i class="fa fa-trash"></i></span> getting food from the home to shop</li>
		</ul>
	</div>

<script type="text/javascript" src="assets/Js/todos.js"></script>


<% include paartials/footer %>